///*------------------------------------Index---------------------------------*/
///*--Loader--*/
///*-----------------------*/
//#loader {
//  height: 100%;
//  left: 0;
//  position: fixed;
//  top: 0;
//  width: 100%;
//  z-index: 9999999;
//  background-color: $txt-white;
//  display: none;
//  svg {
//    left: 0;
//    position: absolute;
//    top: 50%;
//    @include translate(0,-50%);
//  }
//}
//.animation {
//  fill: none;
//  stroke: $main-clr;
//  stroke-linecap: square;
//  stroke-miterlimit: 10;
//  stroke-width: 0.5px;
//  opacity: 1;
//  stroke-dasharray: 600;
//  -webkit-animation: move 7s linear forwards infinite;
//  animation: move 7s linear forwards infinite;
//}

/*--slider--*/
/*-----------------------*/
.slider{
  position: relative;
  height: 100%;
  #myCarousel{
    height: 100%;
  }
  .carousel-inner{
    height: 100%;
  }
  .carousel-item{
    transition: transform 1.2s ease, -webkit-transform 1.2s ease;
    height: 100%;
    .carousel-caption{
      text-align: $left;
      right: auto;
      left: 0;
      width: 100%;
      bottom: auto;
      top: 30%;
      h1{
        color: $main-clr;
        font-size: $hugh-font;
        text-transform: capitalize;
        width: 70%;
        height: 60px;
        overflow: hidden;
      }
      p{
        font-size: $perfect-font;
        width: 70%;
        height: 60px;
        overflow: hidden;
        color: $special-clr;
      }
      button{
        color: $txt-white;
        background-color: $main-clr;
        font-size: $perfect-font;
        padding: 12px 40px;
        border-radius: 0;
      }
    }
    img{
      transform: $flib;
    }
  }
  .l-left{
    width: 200px;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    background: transparent;
  }
  .r-right{
    width: 200px;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    background: transparent;
    right: 0;
  }
  .curve{
    width: 100%;
    position: absolute;
    bottom: -3px;
    img{
      width: 100%;
    }
  }
}

/*--wb-center--*/
/*-------------------*/
.wb-center{
  //background: url("../img/bbc-4.png") no-repeat center;
  //-webkit-background-size: 100%;
  //background-size: 100%;
  width: 100%;
  height: auto;
  padding-bottom: 25px;
  position: relative;
  h1{
    text-align: center;
    font-size: $title-font;
    margin-bottom: 5px;
    margin-top: 25px;
  }
  .cycle{
    text-align: center;
    img{
      margin: 30px 0;
    }
    h2{
      font-size: $perfect-font;
      color: $main-clr;
    }
    p{
      color: $scd-clr;
      font-size: $artical-font;
    }
  }
}
/*--services--*/
/*-------------------*/
.services{
  //background: linear-gradient(to top, #f4f7f7, rgba(244, 247, 247, 0.9), rgba(244, 247, 247, 0.9), rgba(244, 247, 247, 0.2));
  h1{
    text-align: center;
    font-size: $title-font;
    padding: 45px 0;
  }
  .pathology{
    width: 100%;
    .container{
      height: 100%;
    }
    .row{
      height: 100%;
      padding: 0 15px;
    }
    .gradient-sp{
      position: relative;
      &:after{
        content: '';
        width: 100%;
        height: 12%;
        display: block;
        position: absolute;
        top: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2), transparent);
        right: 0;
        left: 0;
      }
    }
    .services-wrapper{
      width: 100%;
      height: 100%;
      display: block;
      &:hover{
        .services-img{
          img{
            -webkit-filter: grayscale(0%);
            -webkit-transition: .8s ease-in-out;
            -moz-filter: grayscale(0%);
            -moz-transition: .8s ease-in-out;
            -o-filter: grayscale(0%);
            -o-transition: .8s ease-in-out;
            filter: grayscale(0%);
          }
        }
      }
      .services-img{
        overflow: hidden;
        position: relative;
        height: 350px;
        margin-right: -15px;
        margin-left: -15px;
        img{
          position: absolute;
          left: 50%;
          top: 50%;
          min-height: 351px;
          transform: translate(-50%,-50%);
          min-width: 100%;
          -webkit-filter: grayscale(100%);
          -webkit-transition: .8s ease-in-out;
          -moz-filter: grayscale(100%);
          -moz-transition: .8s ease-in-out;
          -o-filter: grayscale(100%);
          -o-transition: .8s ease-in-out;
          filter: grayscale(100%);
        }
      }
      .services-bio{
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        color: #fff;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        p{
          font-size: 26px;
          margin: 0;
          line-height: 3;
          text-transform: capitalize;
        }
      }
    }
  }
}
/*--Partners--*/
/*-------------------*/
.partners{
  text-align: center;
  margin-top: 25px;
  h1{
    font-size: $title-font;
    padding: 50px;
  }
  .partner{
    border: 1px solid #f4f7f7;
    padding: 25px;
    height: 130px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img{
      width: 100%;
      display: inline-flex;
    }
  }
}
.owl-carousel{
  .owl-dots{
    padding: 15px;
    height: 55px;
    margin: 15px;
    button{
      width: 10px;
      height: 10px;
      background-color: $borders;
      margin: 8px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      &:focus{
        outline: 0;
      }
      &.active{
        pointer-events: none;
        outline: 1px solid $borders;
      }
    }
  }
}
/*--special-one--*/
/*-------------------*/
.special-one{
  background:no-repeat top fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  position:relative;
  z-index: 10;
  &:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(197, 197, 197,0.4);
  }
  .dr-strange{
    margin-top: -30px;
  }
  .bio{
    padding-top: 90px;
    padding-bottom: 75px;
    text-align: $left;
    div{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 3px;
        top: 0;
        #{$left}: -10px;
        background-color: $main-clr;
      }
      h3{
        font-size: $perfect-font;
      }
      h2{
        font-size: 24px;
        color: $borders;
        font-weight: bold;
      }
    }
    article{
      font-size: $artical-font;
      color: $special-clr;
      height: 100px;
      overflow: hidden;
    }
  }
  .statics{
    text-align: center;
    margin: auto;
    .count{
      background-color: rgba(0,0,0,0.3);
      margin-right: 1px;
      padding-top: 30px;
      padding-bottom: 25px;
      p{
        color: $txt-white;
        font-size: $nav-font;
        direction: ltr;
        &:first-child{
          width: 90px;
          display: inline-block;
        }
        .progress_counter{
          font-size: 24px;
          //font-family: septime;
          position: relative;
          margin-left: 1px;
          //font-weight: bold;
          &:after{
            content: '';
            display: block;
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: $main-clr;
            left: calc(50% - 14.5px);
          }
        }
      }
    }
  }
}

/*------------------------------------About---------------------------------*/
.medical-services {
  background-color: #f4f7f7;
  padding: 50px 0;
  .paragraph {
    text-align: $left;
    h1 {
      font-size: $anth-font;
      color: $main-clr;
      margin-bottom: 30px;
    }
    article {
      font-size: $artical-font;
      line-height: 30px;
      color: #555;
      word-spacing: 3px;
      overflow: hidden;
    }
  }
  .doc-img {
    overflow: hidden;
    //position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    //img {
    //  position: absolute;
    //  left: 50%;
    //  transform: translate(-50%);
    //}
  }
}

/*------------------------------------Clinic---------------------------------*/
.clinic{
  background-color: $internals-back;
  h1{
    font-size: $title-font;
    text-align: center;
    color: #333;
    padding: 30px;
  }
  .disease-img{
    overflow: hidden;
  }
  .disease-bio{
    background-color: #fff;
    padding: 12px 12px;
    margin-bottom: 40px;
    text-align: $left;
    h2{
      font-size: $nav-font;
      color:$main-clr;
    }
    article{
      margin-bottom: 20px;
      font-size: $artical-font2;
      overflow: hidden;
      color: $article-clr;
    }
    button{
      padding: 10px 30px;
      font-size: $artical-font2;
      border-radius: 0;
      background-color: $main-clr;
      color: $txt-white;
      text-transform: capitalize;
    }
  }
}

/*------------------------------------Tests---------------------------------*/
.tests{
  background-color: $internals-back;
  padding-top: 50px;
  padding-bottom: 30px;
  .tst{
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    display: block;
    direction: ltr;
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }
    img{
      position: absolute;
      z-index: 0;
      transition: transform 1.2s;
      bottom: 0;
      width: 100%;
    }
    h2{
      color: $txt-white;
      font-size: $title-font;
      text-transform: capitalize;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      position: absolute;
      width: 100%;
      text-align: center;
      padding: 0 10px;
    }
    &:hover {
      img {
        transform: scale(1.06) rotate(1deg);
      }
    }
  }
}

/*------------------------------------Doctors---------------------------------*/
.doctors {
  background-color: $internals-back;
  padding-top: 70px;
  padding-bottom: 45px;
  .doc-list {
    overflow: hidden;
    position: relative;
    height: 400px;
    margin-bottom: 25px;
    img {
      background-color: #fff;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
    .doc-info{
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 215px;
      padding: 75px 10px 20px;
      //opacity: 0;
      background: linear-gradient(to top, rgb(250,250,250), rgb(250,250,250), rgb(250,250,250), rgba(250,250,250,.8), rgba(250,250,250,.7), rgba(250,250,250,0));
      h2{
        overflow: hidden;
        color: $main-clr;
        font-size: $perfect-font;
      }
      h3{
        overflow: hidden;
        color: $borders;
        font-size: $md-font;
      }
      p{
        color: $special-clr;
        font-size: $artical-font2;
        overflow: hidden;
      }
    }
    //&:hover{
    //  .doc-info{
    //    opacity: 1;
    //    -webkit-transition: all 1s;
    //    -moz-transition: all 1s;
    //    -ms-transition: all 1s;
    //    -o-transition: all 1s;
    //    transition: all 1s;
    //  }
    //}
  }
}

/*------------------------------------Sponsers---------------------------------*/
//.sponsers{
//  background-color: $internals-back;
//  padding-top: 50px;
//  .sponser{
//    //padding-bottom: 50px;
//    //text-align: $left;
//    //display: flex;
//    //align-items: center;
//    margin-bottom: 20px;
//    .im{
//      border: 1px solid #ed1c24;
//      height: 140px;
//      background-color: #fff;
//      overflow: hidden;
//      position: relative;
//      img{
//        width: 100%;
//        position: absolute;
//        top: 50%;
//        left: 50%;
//        transform: translate(-50%, -50%);
//        max-height: 100%;
//        max-width: 100%;
//        padding: 10px;
//      }
//    }
//    h1{
//      color: $main-clr;
//      font-size: $title-font;
//      margin: 10px 0;
//    }
//    article{
//      font-size: $artical-font;
//      color: $article-clr;
//      overflow: hidden;
//      margin-bottom: 5px;
//    }
//    p{
//      font-size: $artical-font;
//      color: $article-clr;
//      margin: 0;
//      span{
//        color: $borders;
//      }
//    }
//  }
//}

/*------------------------------------Contact---------------------------------*/
//.send-massage{
//  padding-top: 40px;
//  background-color: $internals-back;
//  .left-col{
//    form{
//      text-align: $left;
//      input{
//        height: 50px;
//        margin-bottom: 25px;
//        border-radius: 0;
//        background-color: transparent;
//        &::placeholder{
//          font-size: $input-font;
//          color: $article-clr;
//        }
//      }
//      textarea{
//        height: 100px;
//        overflow: hidden;
//        border-radius: 0;
//        margin-bottom: 25px;
//        background-color: transparent;
//        resize: none;
//        &::placeholder{
//          font-size: $input-font;
//          color: $article-clr;
//        }
//      }
//      button{
//        padding: 15px 75px;
//        font-size: $artical-font;
//        border-radius: 0;
//        background-color: $main-clr;
//        color: $txt-white;
//      }
//    }
//  }
//  .right-col{
//    padding-#{$left}: 35px;
//    margin-top: 0;
//    margin-bottom: 40px;
//    .main-office {
//      text-align: $left;
//      padding-bottom: 40px;
//      h1 {
//        color: $txt-black;
//        font-size: $anth-font;
//        margin-bottom: 30px;
//        width: 100%;
//      }
//      div {
//        font-size: $perfect-font;
//        margin-bottom: 35px;
//        width: 100%;
//        display: table;
//        label {
//          color: $main-clr;
//          width: 105px;
//          display: table-cell;
//          text-transform: capitalize;
//
//        }
//        p{
//          display: table-cell;
//          font-size: $md-font;
//        }
//      }
//    }
//    img{
//      margin: 0 auto;
//    }
//  }
//  .branches-tab{
//    position: relative;
//    z-index: 1;
//    .branches{
//      background-color: #fff;
//      box-shadow: -1px -10px 25px rgba(136,136,136,0.3);
//      .branches-details{
//        width: 75%;
//        margin: 0 auto;
//        padding: 80px 0;
//        .lefty{
//          float: $left;
//          width: 50%;
//          text-align: center;
//          padding-right: 10px;
//          p{
//            font-size:$md-font;
//            padding-bottom: 20px;
//          }
//        }
//      }
//      ul{
//        a{
//          color: #fff;
//          text-transform: capitalize;
//          font-size: $md-font;
//          line-height: 3;
//          &:hover{
//            background: lighten($borders, 5%);
//          }
//        }
//      }
//    }
//  }
//  .location{
//    position: relative;
//    margin-top: -40px;
//  }
//}
//
//.mb-3{
//  margin-bottom: 0!important;
//}
//.nav-pills{
//  margin-bottom:0;
//  .nav-link{
//    border-radius: 0;
//    background: $borders;
//    width: 160px;
//    margin: 0 auto;
//    height: 65px;
//  }
//  .nav-link.active{
//    background-color: #333333;
//    &:hover{
//      background: #333!important;
//    }
//  }
//}

/*----------------------------Clinic-Details------------------------*/
.details{
  background-color: $internals-back;
  padding: 50px 0;
  .c-details-left{
    .details-img{
      direction: ltr;
      overflow: hidden;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      //img{
      //  position: relative;
      //  left: 50%;
      //  transform: translateX(-50%);
      //}
    }
    .details-bio{
      text-align: $left;
      h2{
        color: $main-clr;
        font-size: $title-font;
        margin-top: 20px;
      }
      article{
        color: $article-clr;
        font-size: $artical-font;
        line-height: 30px;
        p{
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
.c-details-right{
  background-color: #fff;
  position: relative;
  padding: 60px 20px;
  box-shadow: 0 15px 40px rgba(136, 136, 136, 0.5);
  width: 350px;
  top: auto;
  bottom: auto;
  transition: all 1s;
  &:before{
    content: '';
    display: block;
    background: url('../img/form-before.png') no-repeat top left;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &:after{
    content: '';
    display: block;
    background: url('../img/form-after.png') no-repeat top right;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
  }
  form{
    position: relative;
    z-index: 1;
    text-align: $left;
    label{
      text-align: center;
      display: block;
      margin-bottom: 50px;
      font-size: $title-font;
      color: $borders;
    }
    .name-phone{
      margin-bottom: 15px;
      height: 30px;
      border-radius: 0;
      background-color: transparent;
      text-transform: capitalize;
      color: $special-clr;
    }
    .fr-date{
      input{
        background: transparent;
        border-radius: 0;
      }
      .input-group-text{
        border-radius: 0;
        border: 0;
      }
    }
    .fr-time{
      input{
        background: transparent;
        border-radius: 0;
      }
      .input-group-text{
        border-radius: 0;
        border: 0;
      }
    }
    select{
      margin-bottom: 25px;
      height: 40px;
      border-radius: 0;
      background-color: transparent;
      text-transform: capitalize;
      color: $special-clr;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    textarea{
      margin-bottom: 25px;
      height: 100px;
      border-radius: 0;
      resize: none;
      background-color: transparent;
      text-transform: capitalize;
    }
    button{
      padding: 10px 40px;
      font-size: $artical-font2;
      border-radius: 0;
      background-color: $main-clr;
      color: $txt-white;
      text-transform: capitalize;
      border: none;
    }
  }
}

/*---------------------------------Service-Details------------------------------*/
.s-details{
  background-color: $internals-back;
  padding: 50px 0;
  .s-details-img{
    overflow: hidden;
    height: 400px;
    direction: ltr;
    img{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .s-details-bio{
    text-align: $left;
    h2{
      color: $main-clr;
      font-size: $title-font;
      margin-top: 20px;
    }
    article{
      color: $article-clr;
      font-size: $artical-font;
      line-height: 30px;
    }
  }
}
/*---------------------------------contact-new------------------------------*/
.send-massage{
  padding: 40px 0 0;
  background-color: $internals-back;
  .block{
    .block-header{
      text-align: $left;
      border-bottom: 2px solid #d5d6d6;
      h2{
        position: relative;
        margin: 0;
        display: inline-block;
        text-transform: capitalize;
        padding: 0 5px 5px;
        &:after{
          content: '';
          position: absolute;
          bottom: calc(0% - 2px);
          #{$left}: 0;
          width: 100%;
          height: 2px;
          background-color: #ed1c24;
        }
      }
    }
    .offices-listing{
      padding: 100px 0 25px;
      .offices-detail{
        height: 100%;
        padding-bottom: 25px;
        text-align: center;
        i{
          background-color: #ed1c24;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto 55px;
          font-size: 26px;
          color: #fff;
        }
        p{
          margin: 0;
        }
      }
    }
    .branches-listing{
      padding-top: 40px;
      .nav-tabs{
        border: none;
        .nav-item{
          position: relative;
          .branches-detail{
            border: 1px solid #d5d6d6;
            position: relative;
            padding: 15px;
            padding-bottom: 60px;
            height: 100%;
            h5{
              text-align: center;
              margin: 25px 0;
              text-transform: capitalize;
            }
            .branches-detail-inner{
              display: flex;
              margin-bottom: 20px;
              i{
                margin-#{$right}: 10px;
                color: #ed1c24;
                font-size: 24px;
              }
              p{
                margin: 0;
                display: flex;
                align-items: flex-start;
              }
              .label-p-01{
                width: 40%;
                label{
                  margin: 0;
                }
              }
              .label-p-02{
                width: 100%;
                text-align: $left;
              }
            }
          }
          .nav-link{
            text-align: center;
            width: 60px;
            height: 60px;
            background: #2c2e2a;
            color: #fff;
            padding: 5px;
            border-radius: 0;
            position: absolute;
            top: calc(100% - 60px);
            #{$right}: 15px;
            &:hover{
              border-color: transparent;
            }
            i{
              width: 100%;
              font-size: 26px;
            }
            p{
              margin: 0;
              font-size: 18px;
            }
          }
          .nav-link.active{
            border: transparent;
            background-color: #ed1c24;
            transition: 0.5s;
          }
        }
      }
    }
  }
  .maps{
    margin-top: 50px;
    .qr-code{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .maps-taps{
      margin-#{$right}: -15px;
    }
  }
}
/*---------------------------------sponsers-new------------------------------*/
.sponsers{
  background-color: $internals-back;
  padding: 50px 0 10px;
  .sponsers-block{
    margin: 0 50px 50px;
    .sponsers-block-header{
      margin-bottom: 30px;
      h2{
        text-align: center;
        font-size: 30px;
        text-transform: capitalize;
      }
    }
    .sponsers-block-details{
      .partners{
        .partner{
          border: 1px solid #fff;
        }
        .owl-carousel{
          position: relative;

        }
        .owl-nav{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -50px;
          right: -50px;
          display: flex;
          justify-content: space-between;
          button{
            width: 50px;
            height: 50px;
            display: flex;
            font-size: 50px;
            align-items: center;
            justify-content: center;
            color: $borders;
            span{
              line-height: 1;
              width: 100%;
              height: 100%;
            }
            &:focus{
              outline: 0;
            }
          }
          .owl-next{
            margin-#{$left}: 20px;
          }
          .owl-prev{
            margin-#{$right}: 20px;
          }
        }
      }
    }
  }
}
/*----------------------------------splash------------------------------*/
.no-padding{
  padding: 0;
}
.splash{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  &:before{
    background-color: rgba(0,0,0,0.3);
    content: ' ';
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .container{
    height: 100%;
    padding: 0;
  }
  .row, .col-md-4, .splash-cl{
    height: 100%;
  }
  .splash-sections{
    height: calc(100% - 50px);
    .splash-cl{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      &:before{
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
        //background: linear-gradient(rgba(0, 0, 0, 0.4) 10%, rgba(255,255,255, 0.3) 50%, rgba(0, 0, 0, 0.8));
        content: ' ';
        width:100%;
        height: 100%;
        position: absolute;
        left: 0;
      }
      //&:after{
      //  background-color: rgba(0,0,0,0.5);
      //  content: ' ';
      //  width:100%;
      //  height: 100%;
      //  position: absolute;
      //  left: 0;
      //}
      .baligh-scan{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        a{
          display: block;
          &:hover{
            transform: scale(1.08);
            transition: all 1.1s;
          }
        }
        .back-light-01{
          border-radius: 50%;
          width: 1px;
          height: 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 135px 118px rgba(255,255,255,0.4);
        }
        .back-light-02{
          border-radius: 50%;
          width: 1px;
          height: 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 224px 135px rgba(255,255,255,1);
        }
        .back-light-03{
          border-radius: 50%;
          width: 1px;
          height: 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 100px 155px rgba(255,255,255,0.5);
        }
      }
      button{
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 50px;
        border-radius: 0;
        color: #fff;
        background-color: #ed1f27;
        &:hover{
          background-color: lighten(#ed1f27, 7%)!important;
        }
      }
    }
  }
  .splash-social{
    ul{
      text-align: center;
      margin: 0;
      display: flex;
      justify-content: center;
      li{
        z-index: 1;
        list-style-type: none;
        margin-#{$right}: 15px;
        a{
          color: #fff;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          &:hover{
            color: #000;
            transition: 0.8s;
          }
        }
        &:last-child{
          margin-#{$right}: 0;
        }
      }
    }
  }
}