//colors
$main-clr:#2e3192;
$scd-clr:#6e6e6e;
$txt-white:#fff;
$txt-black:#000;
$main-light:lighten($main-clr,15%);
$borders:#ed1c24;
$article-clr:#555;
$internals-back:#f4f7f7;
$special-clr:#333;

//font-sizes
$input-font:13px;
$artical-font2:14px;
$artical-font:16px;
$md-font:18px;
$perfect-font:20px;
$nav-font:22px;
$title-font:26px;
$anth-font:30px;
$res-font:35px;
$statics-font:36px;
$hugh-font:40px;

$flib:rotateY(0);

//------translate--------
$isRtl:rtl;
$left:left;
$right:right;
$direction:ltr;
$flexDir:row;
$font-family-1:roboto-regular;
$font-family-2:roboto-light;


@if $isRtl == rtl
{
  $left:right;
  $right:left;
  $direction:rtl;
  $flexDir:row-reverse;
  $font-family-1:arabic-font;
  $font-family-2:arabic-font;
  $flib:rotateY(180deg)

}
@else{
  $left:left;
  $right:right;
  $direction:ltr;
  $flexDir:row;
  $font-family-1:roboto-regular;
  $font-family-2:roboto-light;
}